<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../../mediaqueries.css">

</head>
<body>
    <!-- repeatable header  -->
    <div class="background-changer">
        <div class="header">

            <div class="logo-txt">
                <img src="../images/logo.png" alt="logo" id="logo-img">
                <a href="../../index.html" id="logo-name">FRUITS SHOP</a>
            </div>
    
            <div class="nav-bar">
    
                <a href="../../index.html">Home</a>
                <a href="./fruits.html">Fruits</a>
                <a href="#">Services</a>
                <a href="./contact-us.html">Contact us</a>
                <a href=""><img src="../images/search.png" alt="search"></a>
    
            </div>
        </div>
    
        <!-- main content -->
            <div class="our-services">
                <h2>Our Services</h2>
        <p>there are many variations of passages of Lorem ipsum available,but the majority</p>

        <div class="fruits-container">
            <div class="fcomponent-container">

                <div class="fruit-component">
                    <img src="../images/item1.png">
                    <h3>Orange</h3>
                    <p class="h3-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                    </p>
                </div>

                <div class="fruit-component">
                    <img src="../images/item2.png">
                    <h3>Grapes</h3>
                    <p class="h3-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                    </p>
                </div>

                <div class="fruit-component">
                    <img src="../images/item.png">
                    <h3>Guava</h3>
                    <p class="h3-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                    </p>
                </div>

                <div class="rm-btn">
                    <button type="button" id="rm-btn">Read more</button>
                </div>


            </div>

    <!-- repeatable footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-component">
                <h4>Fruits</h4>
                <p class="h4-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                </p> 
            </div>

            <div class="footer-component">
                <h4>Services</h4>
                <p class="h4-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                </p> 
            </div>

            <div class="footer-component">
                <h4>List</h4>
                <p class="h4-p">
                    there are many variations of passages of lorem ipsum available,
                    but the majority have suffered alteration in some form , by injected humour, 
                    or randomised words which don't look even slightly believable.
                </p> 
            </div>

            <div class="footer-component subscribtion">
                <div class="followus-hcont">
                    <h4>Follow Us</h4>
                </div>
                <div class="follow-us-imgcont">
                    <img src="../images/fb.png" alt="facebook-icon">
                    <img src="../images/twitter.png" alt="twitter">
                    <img src="../images/linkedin.png" alt="linkedin-icon">
                    <img src="../images/instagram.png" alt="instagram-icon">

                    <div class="subform-section">
                        <h4>Subscribe Now</h4>
                        <form action="https://httpbin.org/post" method="post">
                            <input type="email" name="subscribtionEmail" required>
                            <div class="subscribe-btn-cont">
                                <button type="submit" id="subscribeBtn">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="copy-container">
            <p>Copyrights &#169; all are reserved</p>
        </div>
    </div>
</body>
</html>